## Strings and text manipulation

You can use single or double-quotes for strings:

In [1]:
'hello'

'hello'

In [2]:
"world"

'world'

In [3]:
'this is also a string'

'this is also a string'

However, if you have single quotes within your string, you must surround the string in double quotes:

In [4]:
'I'm going on a run

SyntaxError: invalid syntax (<ipython-input-4-1840230775a8>, line 1)

In [5]:
"I'm going on a run"

"I'm going on a run"

### Using the print() function

In [6]:
print("hello")

hello

In [7]:
print("hello world one")
print("hello world two")

hello world one
hello world two

Escape sequences:

In [8]:
print('hello \nworld')

hello
world

In [9]:
print('hello\tworld')

hello	world

### Using the len() function

In [10]:
len('hello')

5

### Indexing and slicing

In [11]:
mystring = "Hello World"

In [12]:
mystring

'Hello World'

Standard indexing:

In [13]:
mystring[0]

'H'

In [14]:
mystring[8]

'r'

Reverse indexing:

In [15]:
mystring[-2]

'l'

In [16]:
mystring[-3]

'r'

Slicing:

In [17]:
mystring = 'abcdefghijk'

In [18]:
mystring

'abcdefghijk'

In [19]:
mystring[2:]

'cdefghijk'

In [20]:
mystring[:3]

'abc'

^ Note the 'stop' index will go up to the letter, but not include it in the output

In [21]:
mystring[3:6]

'def'

In [22]:
mystring[1:3]

'bc'

Using step size:

In [23]:
mystring[::2]

'acegik'

In [24]:
mystring[2:7:2]

'ceg'

In [25]:
mystring[::-1]

'kjihgfedcba'

^ Reversing a string

## String properties and methods

### Immutability

In [1]:
name = "Sam"

You cannot reassign a letter in a string:

In [2]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [3]:
name[1:]

'am'

In [4]:
last_letters = name[1:]

### String concatenation:

In [5]:
'P' + last_letters

'Pam'

In [6]:
x = 'Hello World'

In [8]:
x + " it is beautiful outside!"

'Hello World it is beautiful outside!'

In [9]:
x = x + " it is beautiful outside!"

In [10]:
x

'Hello World it is beautiful outside!'

You can also use multiplication with letters:

In [11]:
letter = 'z'

In [12]:
letter * 5

'zzzzz'

Note that types can cause issues here:

In [14]:
2 + 3

5

In [13]:
'2' + '3'

'23'

In [15]:
2 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Using string methods

In [16]:
x = 'Hello World'

In [17]:
x.upper()

'HELLO WORLD'

In [18]:
x.lower()

'hello world'

In [19]:
x.split()

['Hello', 'World']

Splitting strings into list:

In [20]:
x = "Hi this is a string"

In [21]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [22]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

## String methods

### .format() method

**'string here {} then {}.format('something1','something2')**

In [1]:
print('This is a string{}'.format('INSERTED'))

This is a stringINSERTED

In [2]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [3]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [4]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

### Float formatting follows "{value:width.precision f}"

In [5]:
result = 100/777

In [6]:
result

0.1287001287001287

In [7]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [8]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [9]:
print("The result was {r:10.5f}".format(r=result))

The result was    0.12870

## f formatting string literals

In [11]:
name='Jimmy'

In [12]:
print(f'Hello, my name is {name}')

Hello, my name is Jimmy

In [15]:
name = "Sam"
age = 3

In [16]:
print(f'{name} is {age} years old')

Sam is 3 years old