## Tuples

Similar to lists, however they are immutable. Elements cannot be reassigned

In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [4]:
type(t)

tuple

In [5]:
type(mylist)

list

In [6]:
t

(1, 2, 3)

In [7]:
t = ('one',2)
t[0]

'one'

In [8]:
t[-1]

2

In [9]:
t = ('a','a','b')
t.count('a')

2

In [10]:
t.index('a')

0

In [11]:
t.index('b')

2

In [12]:
t

('a', 'a', 'b')

In [13]:
mylist

[1, 2, 3]

In [15]:
mylist[0] = 'New'
mylist

['New', 2, 3]

In [16]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment